/* Global Styles */
body {
    background: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Link Styles */
a {
    text-decoration: none;
    color: black;
}

/* Label Styles */
label {
    display: block;
    margin-bottom: 8px;
}

/* Input Styles */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button Styles */
button {
    border-radius: 40px;
    background: #031926;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 35px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
}

/* Custom Symbol Styles */
.material-symbols-outlined {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* Header Styles */
.mode-header {
    position: absolute;
    top: -2.5vh;
    left: 2vw;
    padding: .5vw;
    color: black;
    text-shadow: 0px 0.4vw 0.4vw rgba(0, 0, 0, 0.25);
    font-size: 3vw;
    font-weight: 600;
    line-height: normal;
}

/* Header Line Styles */
.mode-header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2vw; /* Use viewport units for height */
    background: black;
}

/* List Styles */
.mode-list {
    width: 75vw;
    height: 80vh;
    flex-shrink: 0;
    background: #333;
    border-radius: 10vw;
}

/* Form Styles */
.create-mode-form {
    flex-shrink: 0;
    border-radius: 35px;
    background: #4078C0;
    mix-blend-mode: darken;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 120px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: left;
    padding: 20px;
}

/* Settings Button Styles */
#btnSetting {
    position: absolute;
    font-size: 48px;
    right: 50px;
    top: 40px;
}

/* Create New Mode Styles */
#createNewMode {
    margin: 4vw;
    width: 8vw;
    height: 12vh;
    flex-shrink: 0;
    background: #D9D9D9;
    border-radius: 7.5vw;
}

/* Add Button Styles */
#btnAdd {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    font-size: 1.5vw;
}

/* Create New Mode Header Styles */
#createNewModeHeader {
    margin: 1px;
    text-align: center;
    font-size: 15px;
    color: #FFF;
}

/* Arrow Back Button Styles */
#arrowBack {
    position: absolute;
    font-size: 48px;
    left: 30px;
    top: 120px;
}

/* Button Container Styles */
#buttonContainer {
    text-align: center;
    padding-top: 0;
}
