body {   
    background: #FAFAFA;
    font-family: 'Roboto', sans-serif;

    display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; 
            margin: 0; 

}

a {
    text-decoration: none;
    color: black;

}


label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    border-radius: 40px;
    background: #031926;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 185px;
    height: 49px;
    flex-shrink: 0;

    

    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.NoteMode-logo {
    position: absolute;
    top: -25px;
    left: 40px;
    padding: 10px;
    
    color: #FAFAFA;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logo-box {

    position: absolute;
    top: 0px;
    left: 0;
    padding: 10px;
    margin: 20px;

    width: 383px;
    height: 103px;
    flex-shrink: 0;

    border-radius: 35px;
    background: #4078C0;
    mix-blend-mode: darken;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.center-login {
    flex-shrink: 0;

    border-radius: 35px;
    background: #4078C0;
    mix-blend-mode: darken;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    width: 600px;
    height: 500px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: left;
    padding: 20px;
}



#loginHeader {
    font-size: 64px;
    padding: 0px;
    margin: 10px;
}

#line {
    width: 575px;
    height: 4px;
    margin:0px 10px;
    margin-bottom: 20px;
    margin-left: 0px;

    background: black;
}

#buttonContainer {
    text-align: center;
    padding-top: 65px;
}

#accountIt {
    padding-top: 25px;
    text-align: left;
}

#userExistsAlert {
    color: red;
}