<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit_mode.css') }}">
    <title>NoteMode</title>
</head>
<body>
    <h1 class="mode-header">Edit Mode</h1>
    <div id="line"></div>

    <div class="edit-mode-form">
        <form method="POST" action="{{ url_for('mode.edit_mode', mode_id=mode[0]) }}">
            <h1>Mode Settings</h1>
            <label for="mode_name">Mode Name:</label>
            <input type="text" id="mode_name" name="mode_name" value="{{ mode[2] }}" required>
            <h2>Styling</h2>
            <label for="background_color">Mode Background Color:</label>
            <input type="color" id="background_color" name="background_color" value="{{ mode[3] }}">
            
            <label for="font_family">Mode Font Family:</label>
            <select id="font_family" name="font_family">
                <option value="Arial" {{ 'selected' if mode[4] == 'Arial' else '' }}>Arial</option>
                <option value="Times New Roman" {{ 'selected' if mode[4] == 'Times New Roman' else '' }}>Times New Roman</option>
            </select>
            
            <h2>Note View</h2>
            <label for="note_view">View:</label>
            <select id="note_view" name="note_view">
                <option>Icons</option>
                <option>Tiles</option>
                <option>List</option>
            </select>

            <label for="deleteMode">Delete Mode? &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="checkbox" id="deleteMode" name="deleteMode"> </label>
            
            <div id='buttonContainer'>
                <button type="submit">Done</button>
            </div>
        </form>
    </div>

</body>
</html>
