<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links to Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Link to external CSS file using Flask's url_for method -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit_mode.css') }}">

    <!-- Title of the HTML page -->
    <title>NoteMode</title>
</head>
<body>
    <!-- Header section for note editing -->
    <h1 class="mode-header">Edit Note</h1>
    <div id="line"></div>

    <!-- Form section for editing note details -->
    <div class="edit-mode-form">
        <form method="POST" action="{{ url_for('note.password_note', mode_id=mode_id, note_id=note_id) }}">

            <!-- Input field for note password -->
            <label for="note_password">Note Password:</label>
            <input type="password" type="text" id="note_password" name="note_password">

             <!-- Display error message if it exists -->
            {% if error_message %}
                <p class="error-message">{{ error_message }}</p>
            {% endif %}


            <!-- Button to submit the form -->
            <div id='buttonContainer'>
                <button type="submit">submit</button>
            </div>
        </form>
    </div>

</body>
</html>